@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap'); 

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,500;0,600;0,700;1,400&display=swap');

html {   box-sizing: border-box; }
*, *:before, *:after {   box-sizing: inherit; }

body {
    margin: 0;
    box-sizing: border-box;
}

/* ######### HEADER ######### */

header {
    height: 60px;
    width: 100%;
    background-color: #305376;
    color: white;
    display: flex;
    justify-content: space-between;
}

#logo{
    display: flex;
    align-items: center;
    height: 100%;
}

#logo h1{
    margin-top: 20px;
    margin-left: 20px;
    font-family: Mulish;
    font-weight: 700;
}

#search-section {
    display: flex;
    align-items: center;
    gap: 0.5em; 
    width: 380px;
    margin-left: 1em;
}

#main-search-bar {
    height: 1em;
    border-radius: 10px;
    height: 28px;
    width: 328px;
    border: none;
    background-color: #D9D9D9;
}

.save-icon {
    height: 1.3em;
    width: 1.3em;
}

#search-myProfileAndSaved{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    margin-right: 2em;
    height: 100%;
}

#saved-section{
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.header-link {
    text-decoration: none;

    color: white;
}

#saved-section > p {
    font-family: Mulish;
    font-weight: 500;
}

#saved-icon {
    height: 1.3em;
    width: 1.3em;
}

#account-section{
    display: flex;
    align-items: center;
    gap: 0.5em;
}

#account-section > p{
    font-family: Mulish;
    font-weight: 500;
}


#account-icon {
    height: 1.3em;
    width: 1.3em;
}

/* ######### NAVIGATION ######### */

nav {
    height: 85px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
}

nav > ul {
    display: flex;
    gap: 1.5em;
    list-style: none;
    margin-left: -20px;
}

nav > ul > li {
    width: 170px;
    display: flex;
    align-items: center;
    gap: 1em;
}

nav > ul > li > a{
    color: black;
    text-decoration: none;
    font-family: Mulish;
    font-weight: 600;
    font-size: 18px;
}

.nav-menu-arrow {
    height: 15px;
    width: 15px;
}

nav ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background-color: white;
    margin-left: -1em;
    padding-right: 1em;
    width: 13em;
    margin-top: 19em;
    padding-top: 1em;
}

.sub-menu-1 {
    display: none;
    z-index: 1;
    margin-top: 10em;
}

nav ul li:hover .sub-menu-1 ul li{
    list-style: none;
    margin-left: -1.5em;
    margin-bottom: 1em;
}

nav ul li:hover .sub-menu-1 ul li a{
    text-decoration: none;
    font-family: Mulish;
    color: black;

}

.sub-menu-2 {
    display: none;
    z-index: 1;
}

nav ul li:hover .sub-menu-2 {
    display: block;
    position: absolute;
    background-color: white;
    margin-left: -1em;
    padding-right: 1em;
    margin-top: 19em;
    padding-top: 1em;
}

nav ul li:hover .sub-menu-2 ul li{
    list-style: none;
    margin-left: -1.5em;
    margin-bottom: 1em;
}

nav ul li:hover .sub-menu-2 ul li a{
    text-decoration: none;
    font-family: Mulish;
    color: black;
}

.sub-menu-3 {
    display: none;
    z-index: 1;
}

nav ul li:hover .sub-menu-3 {
    display: block;
    position: absolute;
    background-color: white;
    margin-left: -1em;
    padding-right: 1em;
    margin-top: 23em;
    padding-top: 1em;
}

nav ul li:hover .sub-menu-3 ul li{
    list-style: none;
    margin-left: -1.5em;
    margin-bottom: 1em;
}

nav ul li:hover .sub-menu-3 ul li a{
    text-decoration: none;
    font-family: Mulish;
    color: black;
}

.sub-menu-4 {
    display: none;
    z-index: 1;
}

nav ul li:hover .sub-menu-4 {
    display: block;
    position: absolute;
    background-color: white;
    margin-left: -1em;
    padding-right: 1em;
    margin-top: 19em;
    padding-top: 1em;
}

nav ul li:hover .sub-menu-4 ul li{
    list-style: none;
    margin-left: -1.5em;
    margin-bottom: 1em;
}

nav ul li:hover .sub-menu-4 ul li a{
    text-decoration: none;
    font-family: Mulish;
    color: black;
}

.sub-menu-5 {
    display: none;
    z-index: 1;
}

nav ul li:hover .sub-menu-5 {
    display: block;
    position: absolute;
    background-color: white;
    margin-left: -1em;
    padding-right: 1em;
    margin-top: 25em;
    padding-top: 1em;
}

nav ul li:hover .sub-menu-5 ul li{
    list-style: none;
    margin-left: -1.5em;
    margin-bottom: 1em;
}

nav ul li:hover .sub-menu-5 ul li a{
    text-decoration: none;
    font-family: Mulish;
    color: black;
}

.sub-menu-6 {
    display: none;
    z-index: 1;
}

nav ul li:hover .sub-menu-6 {
    display: block;
    position: absolute;
    background-color: white;
    margin-top: 11em;
    margin-left: -1em;
    padding-right: 1em;
    padding-top: 1em;
}

nav ul li:hover .sub-menu-6 {
    display: block;
}

nav ul li:hover .sub-menu-6 ul li{
    list-style: none;
    margin-left: -1.5em;
    margin-bottom: 1em;
}

nav ul li:hover .sub-menu-6 ul li a{
    text-decoration: none;
    font-family: Mulish;
    color: black;
}

/* ######### HERO ######### */

#hero-background {
    background-image: url("../images/First_Block.png");
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 60vh;
    margin: 0;
}

#hero-background > p {
    width: 100%;
    text-align: center;
    position: relative;
    margin: 0;
    top: 38px;
    font-size: 25px;
    font-style: italic;
    font-family: montserrat; 
    font-weight: 600;
}

/* ######### Event of the Month ######### */

#event-of-the-month-background {
    width: 100%;
    height: 572px;
    background-color: #E7E7E7;
    padding-top: 40px;
}

#event-of-the-month-container{
    width: 80%;
    height: 495px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#event-of-the-month-container h2{
    margin: 0;
    font-family: montserrat;
    font-size: 30px;
}

#events-list{
    width: 100%;
    height: 451px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
    border: 1px solid black;
}

#first-event{
    border-radius: 10px 10px 0 0;
}

.an-event{
    width: 100%;
    height: 140px;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
}

.date {
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center ;
    gap: 1em;
}

.date > h2 {
    font-family: 'Times New Roman', Times, serif;
}

.events-save-icon{
    height: 1em;
    width: 1em;
}

.description {
    height: 100%;
    width: 65%;
    margin-top: 0.5em;
}

.description > h3 {
    margin-top: 0.5em;
    margin-bottom: 0;
    font-size: 25px;
    font-family: montserrat;
    font-weight: 600;
}

.description > h4 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    font-family: Mulish;
}

.description > p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    font-family: Mulish;
}

.an-event > button {
    height: 57px;
    width: 12%;
    background-color: #305376 ;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 2em;
    border-radius: 10px;
    border: none;
    color: white;
    font-family: montserrat;
    font-weight: 700;
    font-size: 25px;
}

#events-list > p {
    margin: 0.3em 4em 0 0;
    text-align: right;
    font-family: Mulish;
}
#events-list > p > a {
    text-decoration: none;
    color: black;
}

/* ######### STUDENT of the Month ######### */

#student-of-the-month-section{
    width: 100%;
}

#student-of-the-month-section h2{
    text-align: center;
    margin-top: 1.5em;
    font-family: Montserrat;
}

#student-profiles{
    width: 80%;
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2em;
}

/* #student-profiles::after {
    content: "";
    flex: auto;
  } */

.student-profile {
    width: 250px;
    height: 300px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    background-color: #B0BECB;
    border-radius: 10px;
}



.student-profile img{
    width: 100%;
    height: 70%;
    border-radius: 10px 10px 0 0;
}

.name-and-search-icon {
display: flex;
justify-content: space-between;
align-items: center;
}

.name-and-search-icon h4 {
    margin-top: 0.5em;
    margin-bottom: 0;
    margin-left: 0.5em;
    font-family: Mulish;
}

.name-and-search-icon svg {
    margin-right: 0.5em;
}

.student-profile p {
    margin: 0 0 0 0.5em;
    font-family: Mulish;
}

.short-project-info{
    font-size: 14px;
}

.student-profile-readmore{
    margin: 0;
    background-color: white;
    width: 60%;
    text-align: center;
    border-radius: 20px;
    border: 1px solid grey; 
    
}

.student-profile-readmore a{
    text-decoration: none;
    color: black;
}

/* ######### FOOTER ######### */

footer {
    width: 100%;
    height: 234px;
    margin-top: 3em;
    background-color: #305376;
    display: flex;
    gap: 5em;
}

.footer-section{
    color: white;
    margin-top: 2em;
}

.footer-section a {
    text-decoration: none;
    color: white;
}

.footer-section:nth-of-type(1){
    margin-left: 3em;
}

.footer-section:nth-of-type(3){
    width: 25%;
}

.footer-title {
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 1em;
}

.footer-link{
    font-size: 14px;
    font-family: Mulish;
    margin-bottom: -0.6em;
    font-weight: 400;
}

#land-acknowledge{
    font-family: Mulish;
}

.fa-brands {
    color: white;
    transform: scale(1.5);
    margin-right: 0.5em;
}

.fa-twitter{
    margin-top: 3em;
}

#last-footer-section p {
    margin-bottom: -0.5em;
    font-family: Mulish;
    color: white;
    font-weight: 700;
}

#last-footer-section > p > a {
    text-decoration: none;
    color: white;
}

#copywrite {
    margin-left: 1em;
    margin-top: -0.5em;
    margin-bottom: -0.5em;
    font-size: 14px;
    font-family: Mulish;
}

#copywrite a {
    color: black;
    text-decoration: none;
}